@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee 30s linear infinite;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Neue Montreal", sans-serif,"PP Neue Montreal";
}
